<div>
  <h3>name:<%= current_user.name %></h3>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <h3>introduction:<%= current_user.introduction %></h3>
  <p><%= link_to"edit",edit_user_path(current_user.id) %></p>
</div>
